<!DOCTYPE html>
<p-toolbar>
    <div class="ui-toolbar-group-left">
        <i class="pi pi-th-large"></i>
        <span style="color:white">Resource Name</span>
    </div>

    <div class="ui-toolbar-group-right">
        <i class="pi pi-user" style="font-size: 2.5em"></i>
        <i class=" pi pi-question-circle " style="font-size: 2.5em "></i>
    </div>
</p-toolbar>

<p-sidebar [(visible)]="display " styleClass="ui-sidebar-sm">
    <p-menu styleClass="ui-pm" [model]="items2"></p-menu>
</p-sidebar>
<button pButton type="button" class="ui-button-raised ui-button-rounded" (click)="display=true " icon="pi pi-arrow-right "></button>